/* CSS DOCUMENT */
@charset "UTF-8";

/* configuraciones generales*/

nav {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    display: flex;
    gap: 60px;
}

h1 {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    color: #4c0160;
}
h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#875d92;
    padding-top: 30px;

}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-wrap: balance;
    line-height: 1.5rem;
}
h3{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #875d92;
}

h4{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
    color: #875d92;
}

h5{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: #875d92;
    padding-bottom: 20px;
    max-width: 50%;
}

h6{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: #ffffff;
    padding-bottom: 20px;
    max-width: 50%;
}

a{
    text-decoration: none;
    color: #fee9ff;
    
}
li{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    padding: 5px;
    background: #875d92;
}

.contenedor-encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120%; /*no es correcto este porcentaje, hasta 100 es válido*/
    max-width: 1750 px; /*no tiene que haber un espacio entre el valor y la unidad de medida*/
    padding: 10px;
}

.presentacion{
    background: #fee9ff;
    padding: 40px;
}

.contenedor-presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
}

.columna-izquierda-presentacion{
    padding: 50px;
}

.columna-derecha-presentacion{
    max-width: 40%; /*no está bueno usar porcentajes en máximas, esto está pensado para medidas específicas y fijas porque no es igual el 40% de tu pantalla, de la mía o la de un celular*/
    padding: 35px 10px 10px 10px;
}

.contenedor-sobremi{
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 8%; /*porcentaje peligroso, mejor en px*/
    padding: 50px 50px 70px 50px;
}

.contenedor-izquierdo-sobre-mi{
    display: flex;
    flex-direction: column;
    max-width: 44%; /*idem línea 124*/
}

.formacion-academica{
    margin-top: 50px;
}

.contenedor-derecho-sobre-mi{
    display: flex;
    flex-direction: column;
}

.software{
    margin-top: 20px;
    margin-bottom: 5px;
}

.experiencia{
    margin-top: 20px;
    margin-bottom: 5px;
}

.emprendimiento{
    margin-top: 10px;
    margin-bottom: 15px;
}

#footer{
    background-color: #4c0160;
    color: #fee9ff;
    display: flex;
    padding: 40px 80px 30px 90px;
    align-items: center;
    gap:15rem; /*rem es una medida tipográfica y acá no estás seteando algo tipográfico, mejor px*/
}
